In [1]:
import pandas as pd
train = pd.read_csv('train.csv', parse_dates=['date'])
train.head()

        date  store  item  sales
0 2013-01-01      1     1     13
1 2013-01-02      1     1     11
2 2013-01-03      1     1     14
3 2013-01-04      1     1     13
4 2013-01-05      1     1     10

# Feature Engineering

In [2]:
train['dayOfWeek'] = train.date.dt.dayofweek
# train['weekOfYear'] = train.date.dt.weekofyear
# train['dayOfYear'] = train.date.dt.dayofyear
train['month'] = train.date.dt.month
train['year'] = train.date.dt.year - train.date.dt.year.min()
# train['median_store'] = train.groupby(["item", "store"])["sales"].transform("median")
# train["median_store_item_month"] = train.groupby(['month', "item", "store"])["sales"].transform("median")
# train["mean_store_item_week"] = train.groupby(["item", "store",'weekOfYear'])["sales"].transform("mean")

target = train['sales']
train.drop(columns=['date', 'sales'], axis = 1, inplace=True)
train

        store  item  dayOfWeek  month  year
0           1     1          1      1     0
1           1     1          2      1     0
2           1     1          3      1     0
3           1     1          4      1     0
4           1     1          5      1     0
5           1     1          6      1     0
6           1     1          0      1     0
7           1     1          1      1     0
8           1     1          2      1     0
9           1     1          3      1     0
10          1     1          4      1     0
11          1     1          5      1     0
12          1     1          6      1     0
13          1     1          0      1     0
14          1     1          1      1     0
15          1     1          2      1     0
16          1     1          3      1     0
17          1     1          4      1     0
18          1     1          5      1     0
19          1     1          6      1     0
20          1     1          0      1     0
21          1     1          1      1     0
22          1     1          2      1     0
23          1     1          3      1     0
24          1     1          4      1     0
25          1     1          5      1     0
26          1     1          6      1     0
27          1     1          0      1     0
28          1     1          1      1     0
29          1     1          2      1     0
...       ...   ...        ...    ...   ...
912970     10    50          5     12     4
912971     10    50          6     12     4
912972     10    50          0     12     4
912973     10    50          1     12     4
912974     10    50          2     12     4
912975     10    50          3     12     4
912976     10    50          4     12     4
912977     10    50          5     12     4
912978     10    50          6     12     4
912979     10    50          0     12     4
912980     10    50          1     12     4
912981     10    50          2     12     4
912982     10    50          3     12     4
912983     10    50          4     12     4
912984     10    50          5     12     4
912985     10    50          6     12     4
912986     10    50          0     12     4
912987     10    50          1     12     4
912988     10    50          2     12     4
912989     10    50          3     12     4
912990     10    50          4     12     4
912991     10    50          5     12     4
912992     10    50          6     12     4
912993     10    50          0     12     4
912994     10    50          1     12     4
912995     10    50          2     12     4
912996     10    50          3     12     4
912997     10    50          4     12     4
912998     10    50          5     12     4
912999     10    50          6     12     4

[913000 rows x 5 columns]

# Build dataset

In [3]:
categorical = list(train.columns)

categorical.remove('year')

cont = ['year']

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_dev, y_train, y_dev = train_test_split(train, target, test_size=.1, random_state=0, shuffle = True)

In [5]:
X_train = []
X_dev = []

X_train.append(y_train.astype('float32').values)
X_dev.append(y_dev.astype('float32').values)

for cat in categorical:
    X_train.append(x_train[cat].values)
    X_dev.append(x_dev[cat].values)

In [6]:
import keras.backend as K

def custom_smape(x, x_):
    return K.mean(2*K.abs(x-x_)/(K.abs(x)+K.abs(x_)))

Using TensorFlow backend.

# Embeddings

In [7]:
cat_sizes = {}
cat_embsizes = {}
for cat in categorical:
    cat_sizes[cat] = train[cat].nunique()
    cat_embsizes[cat] = min(cat_sizes[cat]//2, int(cat_sizes[cat]**0.5))

In [8]:
cat_sizes, cat_embsizes

({'store': 10, 'item': 50, 'dayOfWeek': 7, 'month': 12},
 {'store': 3, 'item': 7, 'dayOfWeek': 2, 'month': 3})

In [9]:
categorical, cont

(['store', 'item', 'dayOfWeek', 'month'], ['year'])

# Model

In [10]:
from keras.layers import Dense, Dropout, Embedding, Input, Reshape, Concatenate
from keras.models import Model
y = Input((len(cont),), name='cont')
y

In [11]:
inputs = [y]
concat = [y]
for cat in categorical:
    x = Input((1,), name=cat)
    inputs.append(x)
    
    x = Embedding(cat_sizes[cat]+1, cat_embsizes[cat], input_length=1)(x)
    x = Reshape((cat_embsizes[cat],))(x)
    
    concat.append(x)
    
inputs, concat

([<tf.Tensor 'cont:0' shape=(?, 1) dtype=float32>,
  <tf.Tensor 'store:0' shape=(?, 1) dtype=float32>,
  <tf.Tensor 'item:0' shape=(?, 1) dtype=float32>,
  <tf.Tensor 'dayOfWeek:0' shape=(?, 1) dtype=float32>,
  <tf.Tensor 'month:0' shape=(?, 1) dtype=float32>],
 [<tf.Tensor 'cont:0' shape=(?, 1) dtype=float32>,
  <tf.Tensor 'reshape_1/Reshape:0' shape=(?, 3) dtype=float32>,
  <tf.Tensor 'reshape_2/Reshape:0' shape=(?, 7) dtype=float32>,
  <tf.Tensor 'reshape_3/Reshape:0' shape=(?, 2) dtype=float32>,
  <tf.Tensor 'reshape_4/Reshape:0' shape=(?, 3) dtype=float32>])

In [12]:
y = Concatenate()(concat)
y = Dense(100, activation= 'relu')(y)
y = Dense(1)(y)

In [13]:
model = Model(inputs=inputs, outputs=y)

model.compile(loss=custom_smape, optimizer='adam')

model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
store (InputLayer)              (None, 1)            0
__________________________________________________________________________________________________
item (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
dayOfWeek (InputLayer)          (None, 1)            0
__________________________________________________________________________________________________
month (InputLayer)              (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 3)         33          store[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 7)         357         item[0][0]
__________________________________________________________________________________________________
embedding_3 (Embedding)         (None, 1, 2)         16          dayOfWeek[0][0]
__________________________________________________________________________________________________
embedding_4 (Embedding)         (None, 1, 3)         39          month[0][0]
__________________________________________________________________________________________________
cont (InputLayer)               (None, 1)            0
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 3)            0           embedding_1[0][0]
__________________________________________________________________________________________________
reshape_2 (Reshape)             (None, 7)            0           embedding_2[0][0]
__________________________________________________________________________________________________
reshape_3 (Reshape)             (None, 2)            0           embedding_3[0][0]
__________________________________________________________________________________________________
reshape_4 (Reshape)             (None, 3)            0           embedding_4[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 16)           0           cont[0][0]
                                                                 reshape_1[0][0]
                                                                 reshape_2[0][0]
                                                                 reshape_3[0][0]
                                                                 reshape_4[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 100)          1700        concatenate_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 1)            101         dense_1[0][0]
==================================================================================================
Total params: 2,246
Trainable params: 2,246
Non-trainable params: 0
__________________________________________________________________________________________________

In [14]:
model.fit([train[cont], train.store, train.item, train.dayOfWeek, train.month], 
          target, batch_size=128, epochs=2)

ValueError: Error when checking model input: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 5 array(s), but instead got the following list of 4 arrays: [array([[0],
       [0],
       [0],
       ...,
       [4],
       [4],
       [4]]), array([[ 1],
       [ 1],
       [ 1],
       ...,
       [10],
       [10],
       [10]]), array([[ 1],
       [...

In [ ]:
train[cont]

# Test

In [ ]:
train = pd.read_csv('train.csv', parse_dates=['date'])
test = pd.read_csv("test.csv", parse_dates=['date'])

test['year'] = test.date.dt.year-train.date.dt.year.min()
test['month'] = test.date.dt.month
test['day'] = test.date.dt.day
test['dayOfWeek'] = test.date.dt.dayofweek
# test['weekOfYear'] = test.date.dt.weekofyear
# test['dayOfYear'] = test.date.dt.dayofyear

In [ ]:
X_test = []
X_test.append(test['year'].astype('float32').values)
for cat in categorical:
    X_test.append(test[cat].values)

In [ ]:
test

In [ ]:
preds = model.predict(X_test)
# sample_data = pd.read_csv("sample_submission.csv", index_col=0)
# sample_data['sales'] = preds
# sample_data.to_csv('preds.csv')
preds